[Unit]
Description=OpenVAS Scanner
Documentation=https://github.com/greenbone/openvas
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service



[Service]
Type=forking
Restart=on-abnormal
ExecStart=/usr/local/sbin/openvassd

[Install]
WantedBy=multi-user.target
